@import "rouge-github";

@font-face {
    font-family: 'Computer7';
    src: url("fonts/Computer7.eot");
    src: url("fonts/Computer7.woff2") format("woff2"),
    url("fonts/Computer7.woff") format("woff"),
    url("fonts/Computer7.ttf") format("truetype"),
    url("fonts/Computer7.svg") format("svg");
}

@font-face {
    font-family: 'Janson';
    src: url("fonts/Janson.eot");
    src: url("fonts/Janson.woff2") format("woff2"),
    url("fonts/Janson.woff") format("woff"),
    url("fonts/Janson.ttf") format("truetype"),
    url("fonts/Janson.svg") format("svg");
}


body {
	color: black;
	font-family: Janson;
}

h1 {
    white-space:nowrap;
    letter-spacing: 3px;
	font-size: 35px;	
	color: #003380;	
}

h2 {
    white-space:nowrap;
	font-size: 30px;
	/* text-align: center; */
	color: black;
}

h3 {
    white-space:nowrap;
	font-size: 25px;
	text-align: left;
	color: black;
}

h4 {
    white-space:nowrap;
	font-size: 20px;
	text-align: left;
	color: black;
}

a {
	color: #003380;
	text-decoration: none;
}

ul {
    line-height: 20px;
    list-style: square;
}

li:before {
    color: green;
}

img {
    display: inline-block;
    hspace: 10px;
}

.img-circle {
    border-radius: 50%;
}

table {
    margin: 5px 5px 5px 5px; 
}

#sitetitle {
	white-space:nowrap;
	font-family: Computer7;
	font-size: 10;
    padding: 25px 50px 15px 100px;
}

#sitetitle a {	
    color: #b36b00;
    font-family: Janson;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #003380;    
}

#fullpage {
    width: 1500px;
    font-size: 17px;
}

#article {
    margin: 30px 100px 0px 100px;
    text-align: justify;    
    line-height: 25px;
    width: 1115px;
}

#article h1 {
	font-size: 35px;
}

#article h2 {
	font-size: 30px;
}

#article h3 {
    font-size: 25px;
}

#article h4 {
    font-size: 20px;
}

#article li{
    line-height: 25px;
}

#leftarticle{
    margin:0px 20px 0px 100px;
    width: 500px;
    text-align: justify;
    line-height: 25px;
    float: left; 
}

#recentarticle{
    width: 600px;
    float: left;
    margin-right: 20px;
    margin-left:30px;
}

#recentarticle li {
    line-height: 20px;
}

#footer {
    overflow: hidden;
    width: 1200px;
    border-top: 1px solid #003380;
    margin: 50px 100px 100px 75px;
    text-align: center;
}
